/*reset CSS styles*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
h1, h2, h3, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*custom page styles*/
.glyphicon-fire {
    content: "\e104";
}

body {
    margin-bottom: 100px;
    background-color: #B4E3C7;
}
/*div that contains entire page content
#pageWrapper {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: grey;
}*/
h1{
  padding: 15px;
  color: #FFF2CA; /*LIGHT BROWN*/
  font-size: 3em;
}
h2 {
  display: inline;
  color: #879DC4;
  padding-left: 10px;
}
/*do not group the following input placeholder text rules*/
*::-webkit-input-placeholder {
  color:#879DC4;
}
*:-moz-placeholder{
  color: #879DC4;
}
*::-moz-placeholder {
  color: #879DC4;
}
*:-ms-input-placeholder {
  color: #879DC4;
}
/*reset default button styles*/
button {
  margin: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #DBFFF4; /*faint sky blue looks white*/
  background-color: #DBFFF4;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  height: 34px;
  color: #879DC4; /*DARK BLUE similar to blue in map*/
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

#map {
  padding-top: 30px;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

.controls {
        border: 1px solid;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 34px;
        margin-bottom: 20px;
        /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
}

#mapsearch {
        background: transparent;
        font-family: arial;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        width: 40%;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: #DBFFF4;
        /*color of inputted text*/
        color: #FFF2CA;
}

            #mapsearch:focus {
              border-color: #6bffe6;
            }

#type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
}

            #type-selector label {
              font-family: arial;
              font-size: 13px;
              font-weight: 300;
            }
            #target {
              width: 345px;
            }

footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here for sticky footer */
        height: 100px;
        background-color: #7d9e8b; /*dark version of background color*/
        font-size: 10px;
        color: #DBFFF4;
        border-top: 1px solid #DBFFF4;
}


/*mobile device styles*/
@media (max-width: 600px) {
  #map {
    height: 300px;
  }
  .controls {
    height: 20px;
  }
  button {
    height: 20px;
    font-size: 16px;
  }
  #mapsearch {
    padding: 10px;
  }
}
